# SPDX-FileCopyrightText: 2026 Nick Wolff <nick@wolff.tech>
# SPDX-License-Identifier: GPL-3.0-only

[submodule "Vendor/ghostty"]
	path = Vendor/ghostty
	url = https://github.com/ghostty-org/ghostty.git
[submodule "Vendor/freerdp"]
	path = Vendor/freerdp
	url = https://github.com/FreeRDP/FreeRDP.git
